// *{
//   justify-content: ;
// }
.searchbar {
  //  border: 3px dotted rgb(19, 139, 73);
  width: max-content;
  height: max-content;
  // background-color: aqua;
  position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  margin-left: 4rem;
}
