<!-- data-table-table-add-item-popup.component.html -->
<div class="popup {{cssClass}}">
  <div class="popup-content">
    <div class="close-model">
      <svg width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"
        (click)="deleteItemModelClose()">
        <path
          d="M38.124 11.8963C37.3115 11.0838 35.999 11.0838 35.1865 11.8963L24.999 22.063L14.8115 11.8755C13.999 11.063 12.6865 11.063 11.874 11.8755C11.0615 12.688 11.0615 14.0005 11.874 14.813L22.0615 25.0005L11.874 35.188C11.0615 36.0005 11.0615 37.313 11.874 38.1255C12.6865 38.938 13.999 38.938 14.8115 38.1255L24.999 27.938L35.1865 38.1255C35.999 38.938 37.3115 38.938 38.124 38.1255C38.9365 37.313 38.9365 36.0005 38.124 35.188L27.9365 25.0005L38.124 14.813C38.9157 14.0213 38.9157 12.688 38.124 11.8963Z"
          fill="#6D6D6D" />
      </svg>
    </div>
    <div class="model-body">
      <h2>Delete</h2>
      <div class="form">
        <!-- <ng-container *ngFor="let value_container of item">
          <div class="input-form-row">
            <div *ngFor="let value of value_container">
              {{value.key}} {{value.value}}
            </div>
          </div>
        </ng-container> -->
        <!-- <p class="message {{messages?.common?.message_type}}"> {{messages?.common?.message}}</p> -->
        <!-- <div class="btn-container">
          <component-button-submit_btn class="button" [label]="'Done'" [type]="'submit'" (click)="updateItem()">
          </component-button-submit_btn>
        </div> -->
        <div class="btn-container">
          <component-button-submit_btn class="button" [label]="'Cancel'" [type]="'submit'"
            (click)=" deleteItemModelClose()">
          </component-button-submit_btn>
          <app-red-btn class="button" [label]="'Delete'" [type]="'submit'" (click)="deleteItem()"></app-red-btn>
        </div>
      </div>
    </div>
  </div>
</div>