@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

//$color-primary: #1375C3;
$color-primary: #017aff;
$color-primary-hilight: rgba($color-primary, 0.2);
$color-red: #FF0000;
$color-orange: #FFA500;
$color-green: #008000;
$color-background-primary: #EBEDE7;
$color-background-secondary: #FFFFFF;
$color-text-headers-black: #6D6D6D;
$color-borders-ash: #AFAFAE;
$color-inputs-background: #EEF3F8;

$font-family-primary: 'Inter', sans-serif;